#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.preview {
  width: 100%;
  background: #0f1117;
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.sidebar {
  background: #161b27;
  border-right: 1px solid #2a2f3e;
  display: flex;
  flex-direction: column;
  width: 40vw;
  overflow-y: auto;
}

.sidebar-content {
  padding: 20px 24px;
  background: #161b27;
}

.divider {
    background-color: rgb(42, 47, 62);
    height: 1px;
    margin: 20px 0px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width:1270px) {
  .sidebar {
    width: 45vw;
  }
}

@media (max-width: 850px) {

  .sidebar,
  .preview {
    display: none;
  }

  .sidebar {
    width: 100vw;
  }

  .active {
    display: flex;
  }
}