.practical-exp {
    display: flex;
    flex-direction: column;
}


.practical-exp label {
    color: #9ca3af;
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.practical-exp input {
    width: 100%;
    background-color: #1e2436;
    font-size: 0.8rem;
    border: solid 1px #2a2f3e;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 13px;
    color: #e8eaf0;
    outline: none;
}

.practical-exp input:focus {
    border-color: #378ADD;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-group {
    margin-bottom: 12px ;
}

@media screen and (max-width: 425px) {
    .form-row {
        grid-template-columns: 1fr;
    }
}